.about-component {
  min-width: 75vw;
  max-width: 75vw;
  margin-top: 30px;

  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 20px;
  }
}